<template name="mainLayout">

<header role="banner" class="splash">
  <h1 class="splash__title">Byron</h1>
  <h2 class="splash__subtitle">Proper Burger Restaurants Rated</h2>

  <p class="splash__msg">Byron restaurants all have their own unique style and the idea of this list is not rate by the food but by the restaurant.</p>
  <a class="splash__link" href="#byrons">to Byrons<br>&#8675;</a>

  <div class="polys">
    <div class="polys__poly"></div>
    <div class="polys__poly"></div>
    <div class="polys__poly"></div>
    <div class="polys__poly"></div>
  </div>
</header>

{{> Template.dynamic template=main}}

<footer role="contentinfo">
  <small>This website is not affiliated with <a href="http://www.byronhamburgers.com">Byron Hamburgers</a> | Adam Johnston &copy; 2015</small>
</footer>

</template>
