//  ==================================
//  typography : variables : utilities
//  ==================================

//  sizes
//  -----
    $base-font-size:   18px    !default;
    $base-line-height: 1.55556 !default;


//  families
//  --------
    $open-sans:    "open sans", "helvetica-neue", helvetica, arial, sans-serif;
    $merriweather: merriweather, times, "times new roman", serif;