//  byron : modules
//  ---------------

//  byron wrapper
//  -------------
    .byron {
      padding: gap();

      @include breakpoint($max: $tab) {
        padding-bottom: gap(2, -1px);
        border-bottom: 1px solid $byron-border;

        &:last-child {
          padding-bottom: gap(2);
          border-bottom-width: 0;
        }
      }
    }

    //  byron __ thumb
    //  --------------
        .byron__thumb {
          height: gap(6);
          border-radius: 50%;
        }
